[Unit]
After=docker.service
Requires=docker.service
After=redis-server-master@%i.service
Requires=redis-server-master@%i.service

[Service]
ExecStartPre=-/usr/bin/docker kill redis-register-proxy
ExecStartPre=-/usr/bin/docker rm redis-register-proxy
ExecStartPre=-/usr/bin/docker pull progrium/ambassadord
ExecStart=/usr/bin/docker run -d --name redis-register-proxy progrium/ambassadord 172.17.42.1:4001
ExecStop=-/usr/bin/docker stop -t 10 redis-register-proxy
Restart=on-failure
RestartSec=5s

[X-Fleet]
X-ConditionMachineOf=redis-server-master@%i.service
