[Unit]
Description=Register on A
After=docker.service
Requires=docker.service
BindsTo=redis-server-master@%i.service
After=redis-server-master@%i.service

[Service]
ExecStartPre=/usr/bin/docker pull polvi/docker-register
ExecStartPre=/usr/bin/docker port redis-master%i 6379
ExecStart=/usr/bin/docker run --name redis-register%i -v /var/run/docker.sock:/var/run/docker.sock --rm polvi/docker-register redis-server-master@%i.service 6379 redis-%
ExecStop=/usr/bin/docker stop -t 3 redis-register%i
ExecStopPost=/usr/bin/docker rm redis-register%i
Restart=on-failure
RestartSec=5s

[X-Fleet]
MachineOf=redis-server-master@%i.service
