[Unit]
Description=Register on A
After=docker.service
Requires=docker.service
BindsTo=redis-server-master@%i.service
After=redis-server-master@%i.service

[Service]
ExecStartPre=/usr/bin/docker pull polvi/docker-register
ExecStartPre=/usr/bin/docker port redis-demo.service 6379
ExecStart=/usr/bin/docker run -e DOCKER_HOST=tcp://${COREOS_PRIVATE_IPV4}:2375 --rm --name %n polvi/docker-register redis-server-master@%i.service 6379 redis-%i
ExecStop=/usr/bin/docker stop -t 3 %n
ExecStopPost=/usr/bin/docker rm %n
Restart=on-failure
RestartSec=5s

[X-Fleet]
MachineOf=redis-server-master@%i.service
