[Unit]
After=redis-server-master@%i.service
Requires=redis-server-master@%i.service
After=redis-register-proxy@%i.service
Requires=redis-register-proxy@%i.service

[Service]
ExecStartPre=/usr/bin/docker pull polvi/docker-register
ExecStartPre=/usr/bin/docker port redis-master%i 6379
ExecStart=/usr/bin/docker run --link redis-register-proxy%i:etcd -e DOCKER_HOST=tcp://172.17.42.1:2375 --rm --name redis-register%i polvi/docker-register redis-master-server@%i.service 6379 redis-A
ExecStop=/usr/bin/docker stop -t 3 redis-register%i
ExecStopPost=/usr/bin/docker rm redis-register%i
Restart=on-failure
RestartSec=5s

[X-Fleet]
X-ConditionMachineOf=redis-server-master@%i.service
