[Service]
ExecStartPre=-/usr/bin/docker kill redis-ambassador%i
ExecStartPre=-/usr/bin/docker rm redis-ambassador%i
ExecStartPre=-/usr/bin/docker pull polvi/simple-amb
ExecStart=/usr/bin/docker run -rm -name redis-ambassador%i polvi/simple-amb 172.17.42.1:4001
ExecStop=/usr/bin/docker stop -t 3 redis-ambassador%i

[X-Fleet]
X-ConditionMachineOf=web@%i.service
