[Unit]
Description=Register on A
Reqires=redis-demo.service
Reqires=etcd-amb-redis.service
After=redis-demo.service
After=etcd-amb-redis.service

[Service]
ExecStartPre=sleep 10
ExecStart=/usr/bin/docker run --link etcd-amb-redis.service:etcd -e DOCKER_HOST=tcp://172.17.42.1:4243 --rm --name %n polvi/docker-register redis-demo.service 6379 redis-A
ExecStop=/usr/bin/docker stop -t 3 %n
Restart=on-failure
RestartSec=5s

[X-Fleet]
X-ConditionMachineOf=redis-demo.service
