[Unit]
Description=Redis Template
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull crosbymichael/redis
# %n is the name of the unit
ExecStart=/usr/bin/docker run --rm --name redis-master%i -p ${COREOS_PRIVATE_IPV4}::6379 crosbymichael/redis
ExecStop=/usr/bin/docker stop -t 3 redis-master%i
ExecStopPost=/usr/bin/docker rm redis-master%i
Restart=on-failure
RestartSec=5s

[X-Fleet]
Conflicts=redis-server-master@*.service
